body {
  padding: 50px;
  background-color: #eaf2f8 ;
  font-family: sans-serif;
}

.rt-tr:hover {
  background-color: #aed6f1;
  cursor: pointer;
}

.expand-opts {
    display: flex;
    justify-content: space-evenly;
    background-color: #d6eaf8;
    align-items: center;
}

.expand-opts input {
    margin: 5px;
    width: 3em;
}

.opt label {
    font-size: 14px;
}

.fa.fa-trash-o:hover {
    cursor: pointer;
}

.title {
    text-align:center;
    font-family: helvetica;
    color: #21618c;
    font-size: 24px;
}

.add-form {
    margin: 0 auto;
    width: 50%;
    display: flex;
    margin-bottom: 5px;
}

.rt-td.poster-image {
    height: 100px;
}

img {
    width: 50px;
}

.error {
    font-size: 14px;
    margin: 0 auto;
    margin-bottom: 5px;
    width: 25%;
}

.add-form input {
    width: 100%;
}

.back-button {
    float: left;
}

#container {
  display: flex;
  justify-content: center;
}